<div id="artist-info-banner" class="detail-banner">
    <div id="artist-info-name" class="detail-title" data-content-text="name" />
    <a data-href="website" data-format="ArtistWebsiteFormatter" data-format-target="href" target="_blank">
        <div id="artist-info-website" class="detail-subtitle" data-content="website" />
    </a>
</div>

<div id="artist-info-bio" class="detail-maintext" data-content-text="bio"></div>

<img id="artist-info-pic" data-src="pic" />

<div class="detail-separator">Events</div>
<div id="artist-info-events" class="mdl-grid thumbnails-container"></div>