<div id="event-info-banner" class="detail-banner">
    <div id="event-info-title" class="detail-title" data-content-text="name" />
    <div id="event-info-date" class="detail-subtitle" data-content-text="dt" data-format="EventDateFormatter"></div>
    <div id="event-info-location" class="detail-subtitle" data-content-text="location"></div>
    <div id="event-info-type" data-class="type" class="mdl-chip">
        <div class="mdl-chip__text" data-content="type" data-format="EventTypeChipFormatter"></div>
    </div>
</div>

<div id="event-info-description" class="detail-maintext" data-content-text="description"></div>

<div id="artists-header" class="detail-separator">Artists</div>
<div id="event-info-artists" class="mdl-grid thumbnails-container"></div>