<div class="mdl-cell mdl-cell--8-col">
    <a data-href="id" data-format="EventsHrefFormatter" data-format-target="href">
      <div class="mdl-card mdl-shadow--4dp event-card">
        <div class="event-type">
        </div>
        <div class="event-title" data-content-text="name">
        </div>
        <div class="event-artists" data-content="artists" data-format="ArtistChipsFormatter"/>
        <div class="event-datetime" data-content-text="dt"/>
        <div class="event-location" data-content-text="location"/>
        </div>
      </div>
    </a>
</div>
