<div class="list-header">
    <p>About</p>
</div>
<div data-content="about" class="detail-maintext"></div>

<div class="list-header">
    <p>How to reach</p>
</div>
<div class="detail-maintext">
    <p data-content="location_desc"></p>
    The main areas are:
    <ul data-content="location_areas" data-format="ListFormatter" data-format-options="name,description"></ul>
    <iframe id="map" data-src="map" frameborder="0" allowfullscreen></iframe>
    <div class="detail-separator">ADDRESS</div>
    <div data-content="address"></div>
    <br>
    <div data-content="transport" data-format="InfoTransportFormatter"></div>
</div>

<div class="list-header">
    <p>Sponsors</p>
</div>
<div class="detail-maintext">
    <ul data-content="sponsors" data-format="ListFormatter" data-format-options="name,website"></ul>
</div>