<div class="mdl-cell mdl-cell--8-col">
    <div class="mdl-card mdl-shadow--4dp card location-card">
        <div class="card-title" data-content-text="name" />
        <div class="card-subtitle" data-content="address"></div>
        <br>
        <div class="location-body" data-content="description"></div>
        <div class="detail-separator">PUBLIC TRANSPORT DIRECTIONS</div>
        <ul data-content="directions" data-format="ListFormatter" data-format-options="transport,directions" />
    </div>
</div>