body{
    height: 100vh;
}

/* BOOTSTRAP OVERRIDE */

.navbar-light .navbar-toggler{
    border: 0px;
}

.navbar .nav-item.nav-link{
    margin: 0 8px;
    color: black;
}

.centered-container{
    max-width: 50%;
    margin: 0 auto;
}

.centered-container .mdl-cell {
    width: 100%;
}

@media(max-width: 880px){
    .centered-container{
        max-width: unset;
    }
}