body{
    height: 100vh;
}

a {
    color: unset;
}
a:hover{
    color: unset;
    text-decoration: unset;
}

/* TYPES COLORS */
.theatre{
    background-color: #88C0D0;
}
.music{
    background-color: #D08770;
}
.dance{
    background-color: #A3BE8C;
}
.side{
    background-color: #B48EAD;
}

/* BOOTSTRAP OVERRIDE */

.navbar-light .navbar-toggler{
    border: 0px;
}

.navbar .nav-item.nav-link{
    margin: 0 8px;
    color: black;
}

.form-control{
    width: unset;
}


/* Lists */
.centered-container{
    max-width: 50%;
    margin: 0 auto;
}

.centered-container .mdl-cell {
    width: 100%;
}

@media(max-width: 880px){
    .centered-container{
        max-width: unset;
    }
}

/* Nice effects */
.mdl-card:hover{
    background: rgba(0,0,0,0.05);
}