body {
  height: 100vh;
}

a {
  color: unset;
}
a:hover {
  color: unset;
  text-decoration: unset;
}

iframe {
  border: 0;
}

/* TYPES COLORS */
.theatre {
  background-color: #88c0d0;
}
.music {
  background-color: #d08770;
}
.dance {
  background-color: #a3be8c;
}
.side {
  background-color: #b48ead;
}

/* BOOTSTRAP OVERRIDE */

.navbar-light .navbar-toggler {
  border: 0px;
}

.navbar .nav-item.nav-link {
  margin: 0 8px;
  color: black;
}

.navbar-toggler {
  padding: 0px;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

.form-control {
  width: unset;
}

/* Lists */
.centered-container {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.fw-list .mdl-cell {
  width: 100%;
}

.list-header {
  padding: 0 16px;
  margin-top: 12px;
}
.list-header > p {
  font-size: 28pt;
  font-weight: bold;
}

.card {
  height: 100%;
  width: 100%;
  min-height: unset;
  border-radius: 5px;
  padding: 12px;
}
.card:hover {
  background: rgba(0, 0, 0, 0.05);
}

.clickable-card {
  cursor: pointer;
}

.fab {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 24px;
  margin-right: 24px;
  z-index: 1;
}

/* Cards */
.card-title {
  font-weight: bold;
  font-size: 18pt;
  line-height: 20pt;
}

/* Single topic pages*/
.detail {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.detail > * {
  margin-bottom: 24px;
}

.detail-banner div {
  text-align: center;
  margin-bottom: 8px;
}

.detail-banner .mdl-chip {
  margin: 0 auto;
  display: block;
  width: min-content;
}

.detail-title {
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.detail-subtitle {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}

.detail-maintext {
  text-align: justify;
  font-size: 16px;
}

.detail-separator {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.thumbnails-container {
  padding: 0px;
}
.thumbnails-container > div:only-child {
  width: 100%;
}

/* HOME PAGE */
#home {
  display: grid;
  grid-template-areas: "navbar" "home-container";
  grid-template-rows: auto 1fr;
}

#home-container {
  grid-area: home-container;
  display: flex;
}

#home-hero {
  margin: 0 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 80%;
  justify-content: space-between;
}

#home-hero > a {
  margin: 0 auto;
}
#home-hero > a > button {
  border-radius: 0px;
  background-color: transparent;
  color: black;
  border-color: black;
  text-transform: uppercase;
}

#home-hero > a > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#home-hero p {
  text-transform: uppercase;
}

#home-hero > p:first-child {
  font-size: 28pt;
  margin-top: 12px;
  margin-left: 12px;
}

#home-hero > div {
  align-self: flex-end;
  margin-bottom: 12px;
  margin-right: 12px;
  font-weight: 100;
  text-align: right;
}

#home-hero > div > p {
  margin: 0px;
}

/* ARTISTS */
#artists-container > * {
  margin-bottom: 12px;
}

.artist-card,
.artist-thumb {
  display: grid;
  grid-template-areas: "artist-pic artist-info";
  grid-template-columns: auto 1fr;
  grid-column-gap: 12px;
}

.artist-card-pic {
  grid-area: artist-pic;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  object-fit: cover;
}

.artist-card-info {
  grid-area: artist-info;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.artist-card-info > *:first-child {
  margin-bottom: 8px;
}

.artist-card-name {
  margin-bottom: 0px;
}

#artist-info-website {
  text-transform: lowercase;
  text-decoration: underline;
}

#artist-info-pic {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#artist-info-events > * {
  margin-bottom: 12px;
}

/* EVENTS */
.event-card,
.event-thumb {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 12px;
}
.event-card {
  grid-template-columns: 12px 1fr;
  grid-template-areas:
    "event-type event-title event-typechip"
    "event-type event-artists event-artists"
    "event-type event-datetime event-datetime"
    "event-type event-location event-location";
}
.event-thumb {
  grid-template-areas:
    "event-title event-typechip"
    "event-datetime event-datetime";
}

.event-card .mdl-chip {
  height: 20px;
  line-height: 20px;
}

.event-card .mdl-chip__text {
  font-size: 11px;
}

.event-card p {
  margin: 0px;
}

.event-card-type {
  grid-area: event-type;
  height: 100%;
  border-radius: 16px;
}

.event-card-typechip {
  grid-area: event-typechip;
}

.event-card-title {
  grid-area: event-title;
  text-transform: capitalize;
  margin: 8px 0;
}
.event-thumb .event-card-title {
  font-weight: bold;
  margin-top: 0px;
}

.event-card-artists {
  grid-area: event-artists;
  margin-bottom: 6px;
}
.event-card-artists > * {
  margin-right: 4px;
}

.event-card-datetime {
  grid-area: event-datetime;
  font-size: 10pt;
}

.event-card-location {
  grid-area: event-location;
  font-size: 10pt;
}

#events-header {
  display: grid;
  grid-template-areas: "header options";
  grid-template-columns: 1fr auto;
}
#events-header > p {
  grid-area: header;
}
#events-header-options {
  grid-area: options;
  display: flex;
}
#events-header-options > * {
  margin-right: 12px;
}
#events-header-options > *:last-child {
  margin-right: 0px;
}

#event-info-date {
  font-weight: bold;
}

@media (max-width: 880px) {
  #events-header {
    grid-template-areas: "header" "options";
  }

  .centered-container {
    max-width: unset;
  }

  .artist-thumb {
    grid-template-areas: "artist-pic" "artist-info";

    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .artist-thumb .artist-card-pic {
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .artist-thumb .artist-card-name {
    font-size: 16pt;
    text-align: center;
  }

  .event-thumb {
    grid-template-areas:
      "event-title"
      "event-datetime"
      "event-typechip";
  }
  .event-thumb .mdl-chip {
    width: min-content;
    margin-top: 8px;
  }
}

/* NEWS */
.news-card,
.location-card {
  display: flex;
  flex-direction: column;
}

.news-body,
.location-body {
  margin-bottom: 8px;
}

/* LOCATIONS */
.location-card ul {
  list-style-type: none;
  padding: 0px;
  font-size: 16px;
  margin-bottom: 0px;
}
.location-card .detail-separator {
  margin-bottom: 0px;
}

.location-body {
  margin-bottom: 16px;
}

/* info */
#info-container {
  margin-bottom: 24px;
}
#info-container .detail-maintext,
#contacts-container .detail-maintext,
#booking-container .detail-maintext {
  padding: 0 16px;
}
#info-container .detail-separator,
#contacts-container .detail-separator {
  margin: 0px;
}
#info-container .col-sm {
  display: flex;
  align-content: center;
  height: min-content;
}
#info-container img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
}

/* MAP */
.map-container {
  margin: 0 16px;
}
#map {
  width: 100%;
  height: 300px;
  margin-bottom: 12px;
}

/* CONTACTS */
#contacts-container a {
  text-decoration: underline;
  cursor: pointer;
}
#messageInput {
  min-height: 100px;
}

/* BOOKING PAGE */
#booking-event-info input {
  font-weight: bold;
  padding: 0;
}
